.App {
  display: flex;
  flex-direction: column;
  padding: 25px 16px;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  max-width: 640px;
  margin: auto;
}

.test-nav a {
  margin-right: 15px;
}
